################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComputerAI/bin/Debug/net6.0
/.vs/ComputerAI/FileContentIndex/2a37e3d2-6e69-4415-9b56-8bbc2566edbb.vsidx
/.vs/ComputerAI/FileContentIndex/read.lock
/ComputerAI/obj
/.vs/ComputerAI/FileContentIndex/edba2cd1-c8d7-4d59-9160-06ac52a6462a.vsidx
/ComputerAI/bin/Release/net6.0
/.vs/ComputerAI
